<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Open Web Purge</title>

        {{ vite_entry_link_tags('app') }}
        {{ vite_entry_script_tags('app') }}
    </head>
    <body data-route="/{{ route }}">
        <div id="app"></div>
    </body>
</html>
